--
-- PostgreSQL database dump
--

\restrict hRLIckE2MR7iHNFoXA2zGEnbrHi4cntT5Ii6SbjU3RckQ78M2TR6ay4eZceALfo

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.activity_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    action_type character varying(40) NOT NULL,
    entity_type character varying(20) NOT NULL,
    entity_id uuid NOT NULL,
    entity_name character varying(500) NOT NULL,
    department_id uuid,
    metadata jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT activity_logs_action_type_check CHECK (((action_type)::text = ANY ((ARRAY['message_sent'::character varying, 'task_created'::character varying, 'task_moved'::character varying, 'task_completed'::character varying, 'note_created'::character varying, 'note_updated'::character varying, 'file_uploaded'::character varying, 'event_created'::character varying, 'member_joined'::character varying, 'document_viewed'::character varying, 'document_created'::character varying, 'document_updated'::character varying, 'document_version_created'::character varying, 'document_approved'::character varying, 'document_archived'::character varying, 'workspace_member_role_changed'::character varying])::text[]))),
    CONSTRAINT activity_logs_entity_type_check CHECK (((entity_type)::text = ANY ((ARRAY['channel'::character varying, 'task'::character varying, 'note'::character varying, 'event'::character varying, 'file'::character varying, 'document'::character varying, 'workspace'::character varying])::text[])))
);


ALTER TABLE public.activity_logs OWNER TO collab;

--
-- Name: app_settings; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.app_settings (
    key character varying(100) NOT NULL,
    value jsonb DEFAULT '{}'::jsonb NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.app_settings OWNER TO collab;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    action character varying(80) NOT NULL,
    target_id uuid,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO collab;

--
-- Name: channel_members; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.channel_members (
    channel_id uuid NOT NULL,
    user_id uuid NOT NULL,
    role text DEFAULT 'member'::text NOT NULL,
    CONSTRAINT channel_members_role_check CHECK ((role = ANY (ARRAY['host'::text, 'member'::text])))
);


ALTER TABLE public.channel_members OWNER TO collab;

--
-- Name: channel_pinned_messages; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.channel_pinned_messages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    channel_id uuid NOT NULL,
    message_id uuid NOT NULL,
    pinned_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.channel_pinned_messages OWNER TO collab;

--
-- Name: channel_reads; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.channel_reads (
    user_id uuid NOT NULL,
    channel_id uuid NOT NULL,
    last_read_at timestamp with time zone DEFAULT to_timestamp((0)::double precision) NOT NULL
);


ALTER TABLE public.channel_reads OWNER TO collab;

--
-- Name: channels; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.channels (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    slug text NOT NULL,
    name text NOT NULL,
    kind text NOT NULL,
    dm_user_a_id uuid,
    dm_user_b_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    department_id uuid,
    created_by uuid,
    CONSTRAINT channels_company_wide CHECK ((((kind = 'company_wide'::text) AND (department_id IS NULL)) OR (kind <> 'company_wide'::text))),
    CONSTRAINT channels_department_link CHECK ((((kind = 'department'::text) AND (department_id IS NOT NULL)) OR (kind <> 'department'::text))),
    CONSTRAINT channels_dm_users CHECK ((((kind = 'dm'::text) AND (dm_user_a_id IS NOT NULL) AND (dm_user_b_id IS NOT NULL) AND (department_id IS NULL)) OR ((kind <> 'dm'::text) AND (dm_user_a_id IS NULL) AND (dm_user_b_id IS NULL)))),
    CONSTRAINT channels_hosted_kinds CHECK ((((kind = ANY (ARRAY['cross_team'::text, 'group_dm'::text])) AND (created_by IS NOT NULL)) OR (kind <> ALL (ARRAY['cross_team'::text, 'group_dm'::text])))),
    CONSTRAINT channels_kind_check CHECK ((kind = ANY (ARRAY['dm'::text, 'company_wide'::text, 'department'::text, 'cross_team'::text, 'group_dm'::text])))
);


ALTER TABLE public.channels OWNER TO collab;

--
-- Name: cleanup_logs; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.cleanup_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    run_at timestamp with time zone DEFAULT now() NOT NULL,
    files_deleted integer DEFAULT 0 NOT NULL,
    CONSTRAINT cleanup_logs_files_deleted_check CHECK ((files_deleted >= 0))
);


ALTER TABLE public.cleanup_logs OWNER TO collab;

--
-- Name: departments; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.departments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(200) NOT NULL,
    code character varying(64) NOT NULL,
    parent_id uuid,
    manager_user_id uuid,
    depth integer DEFAULT 0 NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.departments OWNER TO collab;

--
-- Name: document_comments; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.document_comments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    document_id uuid NOT NULL,
    user_id uuid NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.document_comments OWNER TO collab;

--
-- Name: document_versions; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.document_versions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    document_id uuid NOT NULL,
    version_number integer NOT NULL,
    change_summary text,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    body text DEFAULT ''::text NOT NULL,
    CONSTRAINT document_versions_version_number_check CHECK ((version_number >= 1))
);


ALTER TABLE public.document_versions OWNER TO collab;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.documents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(500) NOT NULL,
    workspace_id uuid NOT NULL,
    folder character varying(500) NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT documents_folder_check CHECK (((folder)::text ~ '^(in_progress|completed|reference)(/[^/]+)?$'::text))
);


ALTER TABLE public.documents OWNER TO collab;

--
-- Name: events; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.events (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(500) NOT NULL,
    description text,
    starts_at timestamp with time zone NOT NULL,
    ends_at timestamp with time zone NOT NULL,
    kind character varying(20) NOT NULL,
    attendee_user_ids uuid[] DEFAULT '{}'::uuid[] NOT NULL,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    department_id uuid,
    CONSTRAINT events_kind_check CHECK (((kind)::text = ANY ((ARRAY['personal'::character varying, 'team'::character varying, 'announcement'::character varying])::text[]))),
    CONSTRAINT events_time_order CHECK ((ends_at > starts_at))
);


ALTER TABLE public.events OWNER TO collab;

--
-- Name: file_attachments; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.file_attachments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    entity_type character varying(32) NOT NULL,
    entity_id uuid NOT NULL,
    uploaded_by uuid,
    original_name character varying(500) NOT NULL,
    storage_key text NOT NULL,
    mime_type character varying(200) NOT NULL,
    byte_size bigint NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT file_attachments_byte_size_check CHECK ((byte_size >= 0)),
    CONSTRAINT file_attachments_entity_type_check CHECK (((entity_type)::text = ANY ((ARRAY['chat_message'::character varying, 'task'::character varying, 'meeting_note'::character varying, 'document'::character varying])::text[])))
);


ALTER TABLE public.file_attachments OWNER TO collab;

--
-- Name: meeting_note_attendees; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.meeting_note_attendees (
    note_id uuid NOT NULL,
    user_id uuid NOT NULL
);


ALTER TABLE public.meeting_note_attendees OWNER TO collab;

--
-- Name: meeting_notes; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.meeting_notes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    department_id uuid NOT NULL,
    title character varying(500) DEFAULT ''::character varying NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.meeting_notes OWNER TO collab;

--
-- Name: message_reactions; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.message_reactions (
    message_id uuid NOT NULL,
    user_id uuid NOT NULL,
    emoji text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT message_reactions_emoji_allowed CHECK ((emoji = ANY (ARRAY['?몟'::text, '?ㅿ툘'::text, '?쁻'::text, '?삷'::text, '?삟'::text, '?럦'::text])))
);


ALTER TABLE public.message_reactions OWNER TO collab;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.messages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    channel_id uuid NOT NULL,
    user_id uuid NOT NULL,
    parent_message_id uuid,
    body text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    edited_at timestamp with time zone,
    deleted_at timestamp with time zone
);


ALTER TABLE public.messages OWNER TO collab;

--
-- Name: note_blocks; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.note_blocks (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    note_id uuid NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    block_type character varying(32) NOT NULL,
    body text,
    checklist_items jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT note_blocks_block_type_check CHECK (((block_type)::text = ANY ((ARRAY['heading'::character varying, 'paragraph'::character varying, 'checklist'::character varying, 'divider'::character varying])::text[])))
);


ALTER TABLE public.note_blocks OWNER TO collab;

--
-- Name: password_reset_requests; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.password_reset_requests (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT password_reset_requests_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'completed'::character varying, 'rejected'::character varying])::text[])))
);


ALTER TABLE public.password_reset_requests OWNER TO collab;

--
-- Name: tasks; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.tasks (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(500) NOT NULL,
    description text,
    status character varying(20) NOT NULL,
    priority character varying(10) NOT NULL,
    due_date date,
    assignee_user_id uuid,
    tags text[] DEFAULT '{}'::text[] NOT NULL,
    "position" integer DEFAULT 0 NOT NULL,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    department_id uuid,
    CONSTRAINT tasks_priority_check CHECK (((priority)::text = ANY ((ARRAY['high'::character varying, 'medium'::character varying, 'low'::character varying])::text[]))),
    CONSTRAINT tasks_status_check CHECK (((status)::text = ANY ((ARRAY['backlog'::character varying, 'in_progress'::character varying, 'in_review'::character varying, 'done'::character varying])::text[])))
);


ALTER TABLE public.tasks OWNER TO collab;

--
-- Name: user_badge_reads; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.user_badge_reads (
    user_id uuid NOT NULL,
    badge_type character varying(32) NOT NULL,
    last_read_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT user_badge_reads_badge_type_check CHECK (((badge_type)::text = ANY ((ARRAY['tasks'::character varying, 'calendar'::character varying, 'notes'::character varying, 'activity'::character varying])::text[])))
);


ALTER TABLE public.user_badge_reads OWNER TO collab;

--
-- Name: user_departments; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.user_departments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    department_id uuid NOT NULL,
    is_primary boolean DEFAULT false NOT NULL,
    role character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT user_departments_role_check CHECK (((role)::text = ANY ((ARRAY['admin'::character varying, 'manager'::character varying, 'member'::character varying])::text[])))
);


ALTER TABLE public.user_departments OWNER TO collab;

--
-- Name: user_task_reads; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.user_task_reads (
    user_id uuid NOT NULL,
    task_id uuid NOT NULL,
    read_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_task_reads OWNER TO collab;

--
-- Name: users; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    name character varying(100) NOT NULL,
    role character varying(20) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    is_temp_password boolean DEFAULT false NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['admin'::character varying, 'manager'::character varying, 'member'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO collab;

--
-- Name: workspace_members; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.workspace_members (
    workspace_id uuid NOT NULL,
    user_id uuid NOT NULL,
    role character varying(20) NOT NULL,
    CONSTRAINT workspace_members_role_check CHECK (((role)::text = ANY ((ARRAY['viewer'::character varying, 'editor'::character varying, 'owner'::character varying])::text[])))
);


ALTER TABLE public.workspace_members OWNER TO collab;

--
-- Name: workspaces; Type: TABLE; Schema: public; Owner: collab
--

CREATE TABLE public.workspaces (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    type character varying(20) NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT workspaces_type_check CHECK (((type)::text = ANY ((ARRAY['org'::character varying, 'custom'::character varying])::text[])))
);


ALTER TABLE public.workspaces OWNER TO collab;

--
-- Data for Name: activity_logs; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.activity_logs (id, user_id, action_type, entity_type, entity_id, entity_name, department_id, metadata, created_at) FROM stdin;
f3b747ca-e3a4-4b30-84f8-78f92b163012	b0000001-0000-4000-8000-000000000001	event_created	event	a5847e09-6191-4e6b-8312-a6097ef5b7aa	test	\N	{"url": "/calendar", "kind": "personal"}	2026-04-21 12:28:13.495273+09
\.


--
-- Data for Name: app_settings; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.app_settings (key, value, updated_at) FROM stdin;
navigation_menus	{"chat": true, "tasks": true, "archive": true, "calendar": true, "dashboard": true, "activity_feed": true, "meeting_notes": true}	2026-04-20 14:17:54.485799+09
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.audit_logs (id, user_id, action, target_id, "timestamp") FROM stdin;
\.


--
-- Data for Name: channel_members; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.channel_members (channel_id, user_id, role) FROM stdin;
\.


--
-- Data for Name: channel_pinned_messages; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.channel_pinned_messages (id, channel_id, message_id, pinned_by, created_at) FROM stdin;
\.


--
-- Data for Name: channel_reads; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.channel_reads (user_id, channel_id, last_read_at) FROM stdin;
b0000001-0000-4000-8000-000000000001	e72db390-14e1-4ddb-8417-78735a1ca11e	2026-04-20 18:02:57.787+09
b0000001-0000-4000-8000-000000000001	5d259ee6-81d0-4553-87bd-c11b9404beac	2026-04-20 10:06:01.46+09
\.


--
-- Data for Name: channels; Type: TABLE DATA; Schema: public; Owner: collab
--



--
-- Data for Name: cleanup_logs; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.cleanup_logs (id, run_at, files_deleted) FROM stdin;
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: collab
--



--
-- Data for Name: document_comments; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.document_comments (id, document_id, user_id, content, created_at) FROM stdin;
\.


--
-- Data for Name: document_versions; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.document_versions (id, document_id, version_number, change_summary, created_by, created_at, body) FROM stdin;
\.


--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.documents (id, title, workspace_id, folder, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.events (id, title, description, starts_at, ends_at, kind, attendee_user_ids, created_by, created_at, updated_at, department_id) FROM stdin;
a5847e09-6191-4e6b-8312-a6097ef5b7aa	test	\N	2026-04-21 09:00:00+09	2026-04-21 10:00:00+09	personal	{b0000003-0000-4000-8000-000000000003}	b0000001-0000-4000-8000-000000000001	2026-04-21 12:28:13.48937+09	2026-04-21 12:28:13.48937+09	\N
\.


--
-- Data for Name: file_attachments; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.file_attachments (id, entity_type, entity_id, uploaded_by, original_name, storage_key, mime_type, byte_size, created_at) FROM stdin;
\.


--
-- Data for Name: meeting_note_attendees; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.meeting_note_attendees (note_id, user_id) FROM stdin;
\.


--
-- Data for Name: meeting_notes; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.meeting_notes (id, department_id, title, sort_order, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: message_reactions; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.message_reactions (message_id, user_id, emoji, created_at) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.messages (id, channel_id, user_id, parent_message_id, body, created_at, edited_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: note_blocks; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.note_blocks (id, note_id, sort_order, block_type, body, checklist_items, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: password_reset_requests; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.password_reset_requests (id, user_id, status, created_at) FROM stdin;
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.tasks (id, title, description, status, priority, due_date, assignee_user_id, tags, "position", created_by, created_at, updated_at, department_id) FROM stdin;
\.


--
-- Data for Name: user_badge_reads; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.user_badge_reads (user_id, badge_type, last_read_at) FROM stdin;
b0000001-0000-4000-8000-000000000001	notes	2026-04-20 18:02:48.835597+09
b0000001-0000-4000-8000-000000000001	activity	2026-04-20 18:02:50.348434+09
\.


--
-- Data for Name: user_departments; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.user_departments (id, user_id, department_id, is_primary, role, created_at) FROM stdin;
a73d52b3-f44e-4350-be3c-a66627785cd9	b0000003-0000-4000-8000-000000000003	a3005b14-e2e0-404d-acb3-cc2404d25067	t	member	2026-04-20 14:21:49.46839+09
\.


--
-- Data for Name: user_task_reads; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.user_task_reads (user_id, task_id, read_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: collab
--



--
-- Data for Name: workspace_members; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.workspace_members (workspace_id, user_id, role) FROM stdin;
\.


--
-- Data for Name: workspaces; Type: TABLE DATA; Schema: public; Owner: collab
--

COPY public.workspaces (id, name, type, created_by, created_at) FROM stdin;
\.


--
-- Name: activity_logs activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_pkey PRIMARY KEY (id);


--
-- Name: app_settings app_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.app_settings
    ADD CONSTRAINT app_settings_pkey PRIMARY KEY (key);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: channel_members channel_members_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.channel_members
    ADD CONSTRAINT channel_members_pkey PRIMARY KEY (channel_id, user_id);


--
-- Name: channel_pinned_messages channel_pinned_messages_channel_id_message_id_key; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.channel_pinned_messages
    ADD CONSTRAINT channel_pinned_messages_channel_id_message_id_key UNIQUE (channel_id, message_id);


--
-- Name: channel_pinned_messages channel_pinned_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.channel_pinned_messages
    ADD CONSTRAINT channel_pinned_messages_pkey PRIMARY KEY (id);


--
-- Name: channel_reads channel_reads_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.channel_reads
    ADD CONSTRAINT channel_reads_pkey PRIMARY KEY (user_id, channel_id);


--
-- Name: channels channels_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.channels
    ADD CONSTRAINT channels_pkey PRIMARY KEY (id);


--
-- Name: channels channels_slug_key; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.channels
    ADD CONSTRAINT channels_slug_key UNIQUE (slug);


--
-- Name: cleanup_logs cleanup_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.cleanup_logs
    ADD CONSTRAINT cleanup_logs_pkey PRIMARY KEY (id);


--
-- Name: departments departments_code_key; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_code_key UNIQUE (code);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: document_comments document_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.document_comments
    ADD CONSTRAINT document_comments_pkey PRIMARY KEY (id);


--
-- Name: document_versions document_versions_document_id_version_number_key; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.document_versions
    ADD CONSTRAINT document_versions_document_id_version_number_key UNIQUE (document_id, version_number);


--
-- Name: document_versions document_versions_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.document_versions
    ADD CONSTRAINT document_versions_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: file_attachments file_attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.file_attachments
    ADD CONSTRAINT file_attachments_pkey PRIMARY KEY (id);


--
-- Name: file_attachments file_attachments_storage_key_key; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.file_attachments
    ADD CONSTRAINT file_attachments_storage_key_key UNIQUE (storage_key);


--
-- Name: meeting_note_attendees meeting_note_attendees_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.meeting_note_attendees
    ADD CONSTRAINT meeting_note_attendees_pkey PRIMARY KEY (note_id, user_id);


--
-- Name: meeting_notes meeting_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.meeting_notes
    ADD CONSTRAINT meeting_notes_pkey PRIMARY KEY (id);


--
-- Name: message_reactions message_reactions_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT message_reactions_pkey PRIMARY KEY (message_id, user_id, emoji);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: note_blocks note_blocks_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.note_blocks
    ADD CONSTRAINT note_blocks_pkey PRIMARY KEY (id);


--
-- Name: password_reset_requests password_reset_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.password_reset_requests
    ADD CONSTRAINT password_reset_requests_pkey PRIMARY KEY (id);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: user_badge_reads user_badge_reads_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.user_badge_reads
    ADD CONSTRAINT user_badge_reads_pkey PRIMARY KEY (user_id, badge_type);


--
-- Name: user_departments user_departments_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.user_departments
    ADD CONSTRAINT user_departments_pkey PRIMARY KEY (id);


--
-- Name: user_departments user_departments_user_id_department_id_key; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.user_departments
    ADD CONSTRAINT user_departments_user_id_department_id_key UNIQUE (user_id, department_id);


--
-- Name: user_task_reads user_task_reads_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.user_task_reads
    ADD CONSTRAINT user_task_reads_pkey PRIMARY KEY (user_id, task_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: workspace_members workspace_members_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.workspace_members
    ADD CONSTRAINT workspace_members_pkey PRIMARY KEY (workspace_id, user_id);


--
-- Name: workspaces workspaces_pkey; Type: CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.workspaces
    ADD CONSTRAINT workspaces_pkey PRIMARY KEY (id);


--
-- Name: idx_activity_logs_action; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_activity_logs_action ON public.activity_logs USING btree (action_type, created_at DESC);


--
-- Name: idx_activity_logs_created_at; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_activity_logs_created_at ON public.activity_logs USING btree (created_at DESC, id DESC);


--
-- Name: idx_activity_logs_department; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_activity_logs_department ON public.activity_logs USING btree (department_id, created_at DESC);


--
-- Name: idx_activity_logs_user; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_activity_logs_user ON public.activity_logs USING btree (user_id, created_at DESC);


--
-- Name: idx_audit_logs_target_ts; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_audit_logs_target_ts ON public.audit_logs USING btree (target_id, "timestamp" DESC);


--
-- Name: idx_audit_logs_ts; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_audit_logs_ts ON public.audit_logs USING btree ("timestamp" DESC);


--
-- Name: idx_audit_logs_user_ts; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_audit_logs_user_ts ON public.audit_logs USING btree (user_id, "timestamp" DESC);


--
-- Name: idx_channel_members_user; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_channel_members_user ON public.channel_members USING btree (user_id);


--
-- Name: idx_channel_reads_channel; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_channel_reads_channel ON public.channel_reads USING btree (channel_id);


--
-- Name: idx_channels_dm_pair; Type: INDEX; Schema: public; Owner: collab
--

CREATE UNIQUE INDEX idx_channels_dm_pair ON public.channels USING btree (LEAST(dm_user_a_id, dm_user_b_id), GREATEST(dm_user_a_id, dm_user_b_id)) WHERE (kind = 'dm'::text);


--
-- Name: idx_cleanup_logs_run_at; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_cleanup_logs_run_at ON public.cleanup_logs USING btree (run_at DESC);


--
-- Name: idx_departments_parent; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_departments_parent ON public.departments USING btree (parent_id);


--
-- Name: idx_document_comments_doc_created; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_document_comments_doc_created ON public.document_comments USING btree (document_id, created_at DESC);


--
-- Name: idx_document_versions_created_at; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_document_versions_created_at ON public.document_versions USING btree (created_at DESC);


--
-- Name: idx_document_versions_doc; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_document_versions_doc ON public.document_versions USING btree (document_id, version_number DESC);


--
-- Name: idx_documents_created_at; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_documents_created_at ON public.documents USING btree (created_at DESC);


--
-- Name: idx_documents_workspace; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_documents_workspace ON public.documents USING btree (workspace_id);


--
-- Name: idx_documents_workspace_folder; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_documents_workspace_folder ON public.documents USING btree (workspace_id, folder);


--
-- Name: idx_events_created_by; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_events_created_by ON public.events USING btree (created_by);


--
-- Name: idx_events_range; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_events_range ON public.events USING btree (starts_at, ends_at);


--
-- Name: idx_events_starts_at; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_events_starts_at ON public.events USING btree (starts_at);


--
-- Name: idx_file_attachments_created; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_file_attachments_created ON public.file_attachments USING btree (created_at DESC);


--
-- Name: idx_file_attachments_entity; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_file_attachments_entity ON public.file_attachments USING btree (entity_type, entity_id);


--
-- Name: idx_meeting_notes_dept; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_meeting_notes_dept ON public.meeting_notes USING btree (department_id);


--
-- Name: idx_meeting_notes_sort; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_meeting_notes_sort ON public.meeting_notes USING btree (department_id, sort_order, updated_at DESC);


--
-- Name: idx_meeting_notes_updated; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_meeting_notes_updated ON public.meeting_notes USING btree (updated_at DESC);


--
-- Name: idx_message_reactions_message; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_message_reactions_message ON public.message_reactions USING btree (message_id);


--
-- Name: idx_messages_channel_time; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_messages_channel_time ON public.messages USING btree (channel_id, created_at);


--
-- Name: idx_messages_thread; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_messages_thread ON public.messages USING btree (parent_message_id) WHERE (parent_message_id IS NOT NULL);


--
-- Name: idx_note_blocks_note; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_note_blocks_note ON public.note_blocks USING btree (note_id, sort_order);


--
-- Name: idx_password_reset_requests_status; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_password_reset_requests_status ON public.password_reset_requests USING btree (status, created_at DESC);


--
-- Name: idx_password_reset_requests_user; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_password_reset_requests_user ON public.password_reset_requests USING btree (user_id);


--
-- Name: idx_pinned_channel; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_pinned_channel ON public.channel_pinned_messages USING btree (channel_id);


--
-- Name: idx_tasks_assignee; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_tasks_assignee ON public.tasks USING btree (assignee_user_id);


--
-- Name: idx_tasks_due_date; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_tasks_due_date ON public.tasks USING btree (due_date);


--
-- Name: idx_tasks_status_position; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_tasks_status_position ON public.tasks USING btree (status, "position");


--
-- Name: idx_user_badge_reads_user; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_user_badge_reads_user ON public.user_badge_reads USING btree (user_id);


--
-- Name: idx_user_departments_dept; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_user_departments_dept ON public.user_departments USING btree (department_id);


--
-- Name: idx_user_departments_primary_one; Type: INDEX; Schema: public; Owner: collab
--

CREATE UNIQUE INDEX idx_user_departments_primary_one ON public.user_departments USING btree (user_id) WHERE (is_primary = true);


--
-- Name: idx_user_departments_user; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_user_departments_user ON public.user_departments USING btree (user_id);


--
-- Name: idx_user_task_reads_user; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_user_task_reads_user ON public.user_task_reads USING btree (user_id);


--
-- Name: idx_users_created_at; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_users_created_at ON public.users USING btree (created_at DESC);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: idx_workspace_members_user; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_workspace_members_user ON public.workspace_members USING btree (user_id);


--
-- Name: idx_workspaces_created_at; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_workspaces_created_at ON public.workspaces USING btree (created_at DESC);


--
-- Name: idx_workspaces_created_by; Type: INDEX; Schema: public; Owner: collab
--

CREATE INDEX idx_workspaces_created_by ON public.workspaces USING btree (created_by);


--
-- Name: uq_password_reset_one_pending; Type: INDEX; Schema: public; Owner: collab
--

CREATE UNIQUE INDEX uq_password_reset_one_pending ON public.password_reset_requests USING btree (user_id) WHERE ((status)::text = 'pending'::text);


--
-- Name: activity_logs activity_logs_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE SET NULL;


--
-- Name: activity_logs activity_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: channel_members channel_members_channel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.channel_members
    ADD CONSTRAINT channel_members_channel_id_fkey FOREIGN KEY (channel_id) REFERENCES public.channels(id) ON DELETE CASCADE;


--
-- Name: channel_members channel_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.channel_members
    ADD CONSTRAINT channel_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: channel_pinned_messages channel_pinned_messages_channel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.channel_pinned_messages
    ADD CONSTRAINT channel_pinned_messages_channel_id_fkey FOREIGN KEY (channel_id) REFERENCES public.channels(id) ON DELETE CASCADE;


--
-- Name: channel_pinned_messages channel_pinned_messages_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.channel_pinned_messages
    ADD CONSTRAINT channel_pinned_messages_message_id_fkey FOREIGN KEY (message_id) REFERENCES public.messages(id) ON DELETE CASCADE;


--
-- Name: channel_pinned_messages channel_pinned_messages_pinned_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.channel_pinned_messages
    ADD CONSTRAINT channel_pinned_messages_pinned_by_fkey FOREIGN KEY (pinned_by) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: channel_reads channel_reads_channel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.channel_reads
    ADD CONSTRAINT channel_reads_channel_id_fkey FOREIGN KEY (channel_id) REFERENCES public.channels(id) ON DELETE CASCADE;


--
-- Name: channel_reads channel_reads_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.channel_reads
    ADD CONSTRAINT channel_reads_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: channels channels_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.channels
    ADD CONSTRAINT channels_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: channels channels_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.channels
    ADD CONSTRAINT channels_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE SET NULL;


--
-- Name: channels channels_dm_user_a_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.channels
    ADD CONSTRAINT channels_dm_user_a_id_fkey FOREIGN KEY (dm_user_a_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: channels channels_dm_user_b_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.channels
    ADD CONSTRAINT channels_dm_user_b_id_fkey FOREIGN KEY (dm_user_b_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: departments departments_manager_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_manager_user_id_fkey FOREIGN KEY (manager_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: departments departments_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.departments(id) ON DELETE SET NULL;


--
-- Name: document_comments document_comments_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.document_comments
    ADD CONSTRAINT document_comments_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: document_comments document_comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.document_comments
    ADD CONSTRAINT document_comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: document_versions document_versions_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.document_versions
    ADD CONSTRAINT document_versions_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: document_versions document_versions_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.document_versions
    ADD CONSTRAINT document_versions_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: documents documents_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: documents documents_workspace_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) ON DELETE CASCADE;


--
-- Name: events events_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: events events_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE SET NULL;


--
-- Name: file_attachments file_attachments_uploaded_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.file_attachments
    ADD CONSTRAINT file_attachments_uploaded_by_fkey FOREIGN KEY (uploaded_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: meeting_note_attendees meeting_note_attendees_note_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.meeting_note_attendees
    ADD CONSTRAINT meeting_note_attendees_note_id_fkey FOREIGN KEY (note_id) REFERENCES public.meeting_notes(id) ON DELETE CASCADE;


--
-- Name: meeting_note_attendees meeting_note_attendees_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.meeting_note_attendees
    ADD CONSTRAINT meeting_note_attendees_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: meeting_notes meeting_notes_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.meeting_notes
    ADD CONSTRAINT meeting_notes_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: meeting_notes meeting_notes_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.meeting_notes
    ADD CONSTRAINT meeting_notes_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE CASCADE;


--
-- Name: message_reactions message_reactions_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT message_reactions_message_id_fkey FOREIGN KEY (message_id) REFERENCES public.messages(id) ON DELETE CASCADE;


--
-- Name: message_reactions message_reactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT message_reactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: messages messages_channel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_channel_id_fkey FOREIGN KEY (channel_id) REFERENCES public.channels(id) ON DELETE CASCADE;


--
-- Name: messages messages_parent_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_parent_message_id_fkey FOREIGN KEY (parent_message_id) REFERENCES public.messages(id) ON DELETE CASCADE;


--
-- Name: messages messages_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: note_blocks note_blocks_note_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.note_blocks
    ADD CONSTRAINT note_blocks_note_id_fkey FOREIGN KEY (note_id) REFERENCES public.meeting_notes(id) ON DELETE CASCADE;


--
-- Name: password_reset_requests password_reset_requests_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.password_reset_requests
    ADD CONSTRAINT password_reset_requests_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: tasks tasks_assignee_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_assignee_user_id_fkey FOREIGN KEY (assignee_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: tasks tasks_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: tasks tasks_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE SET NULL;


--
-- Name: user_badge_reads user_badge_reads_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.user_badge_reads
    ADD CONSTRAINT user_badge_reads_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_departments user_departments_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.user_departments
    ADD CONSTRAINT user_departments_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE CASCADE;


--
-- Name: user_departments user_departments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.user_departments
    ADD CONSTRAINT user_departments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_task_reads user_task_reads_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.user_task_reads
    ADD CONSTRAINT user_task_reads_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON DELETE CASCADE;


--
-- Name: user_task_reads user_task_reads_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.user_task_reads
    ADD CONSTRAINT user_task_reads_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: workspace_members workspace_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.workspace_members
    ADD CONSTRAINT workspace_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: workspace_members workspace_members_workspace_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.workspace_members
    ADD CONSTRAINT workspace_members_workspace_id_fkey FOREIGN KEY (workspace_id) REFERENCES public.workspaces(id) ON DELETE CASCADE;


--
-- Name: workspaces workspaces_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: collab
--

ALTER TABLE ONLY public.workspaces
    ADD CONSTRAINT workspaces_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict hRLIckE2MR7iHNFoXA2zGEnbrHi4cntT5Ii6SbjU3RckQ78M2TR6ay4eZceALfo

